/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Components */
@import url("components/button.css");
@import url("components/cards.css");

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
  margin: 0;
}

a {
  text-decoration: none;
}

div {
  display: block;
}

p {
  margin: 0;
}

.text-center {
  text-align: center;
}

/* Custom design below! */

.banner {
  padding: 200px 0;
  background-size: cover;
  background-position: center;
/*  height: 400px;*/
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 15px
}

.banner .container {
  width: 800px;
  margin: 0 auto;
}

.banner p {
  margin-bottom: 30px;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.cards {
  display: flex;
  justify-content: flex-end;
}

.footer {
  padding: 100px 0;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0F3C42;
}

.fab {
  color: #0F3C42;
  font-size: 4.25em;
}

.fab:hover {
  opacity: 0.4;
}

.footer p {
  margin: 10px;
}
