.footer {
  padding: 100px 0;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0F3C42;
}

.fab {
  color: #0F3C42;
  font-size: 4.25em;
}

.fab:hover {
  opacity: 0.4;
}

.footer p {
  margin: 10px;
}
