.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(rgba(255,232,55,1), rgba(255,232,55,0));
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
